::selection {
	background: #EFEF8E;
	color: #1f542d;
}

article ul {
	list-style: none;
	margin: 1em;
	padding: 0;
}


article ul li:hover {
	/*background: linear-gradient(to right, green, violet, red);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;*/
	font-style: italic;
	font-weight: bolder;
}

article ul li:before {
	content: "• ";
	color: blue;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}


article ul li:nth-child(1):before {
	content: "• ";
	color: red;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
	
}

article ul li:nth-child(2):before {
	content: "• ";
	color: cyan;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
	
}

article ul li:nth-child(3):before {
	content: "• ";
	color: green;
	display: inline-block;
	width: 1em;
	margin-left: -1em;

}

article ul li:nth-child(4):before {
	content: "• ";
	color: purple;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
	
}




.highlight-sketch{
  position:relative;
}

.highlight-sketch:before{
  content:"";
  z-index:-1;
  left:0em;
  top:0em;
  border-width:2px;
  border-style:solid;
  border-color:darkblue;
  position:absolute;
  border-right-color:transparent;
  width:100%;
  height:1em;
  transform:rotate(2deg);
  opacity:0.5;
  border-radius:0.25em;
}

.highlight-sketch:after{
  content:"";
  z-index:-1;
  left:0em;
  top:0em;
  border-width:2px;
  border-style:solid;
  border-color:darkblue;
  border-left-color:transparent;
  border-top-color:transparent;
  position:absolute;
  width:100%;
  height:1em;
  transform:rotate(-1deg);
  opacity:0.5;
  border-radius:0.25em;
}
.caption {
	margin-top: -2rem;
	margin-bottom: 2rem;
	text-align: center;
	font-size: 70%;
	caption-side: bottom;
	}

.highlight-pink{
	background: linear-gradient(120deg, #e4a0a1 0%, #e4a0a1 100%);
    	background-repeat: no-repeat;
    	background-size: 100% 20%;
    	background-position: 0 60%;
}

.highlight-green {
	background: #7DFFB3;
}

.highlight-yellow {
    background-color: #fff2ac;
    background-image: linear-gradient(to right, #ffe359 0%, #fff2ac 100%);
}

.monospace {
	font-family: monospace;
}


.underline {
	text-decoration: underline;
}


.rainbow { /*color: rgb(0,0,225);*/
	font-style: italic;
	font-weight: bolder;
	background-image: linear-gradient(
        45deg,
        #CA4246 16.666%, 
        #E16541 16.666%, 
        #E16541 33.333%, 
        #F18F43 33.333%, 
        #F18F43 50%, 
        #8B9862 50%, 
        #8B9862 66.666%, 
        #476098 66.666%, 
        #476098 83.333%, 
        #A7489B 83.333%);
  
  /* Set the background size and repeat properties. */
  	background-size: 100%;
  	background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
	}

.red { color: #ea2f65;
       font-style: italic;
       font-weight: bolder;
       background: linear-gradient(to right, pink, red);
       color: transparent;
       -webkit-background-clip: text;
       background-clip: text;
      }

.blue { color: #0808CF;
	font-style: italic;
	font-weight: bolder;
    	background: linear-gradient(to right, purple, blue);
    	color: transparent;
    	-webkit-background-clip: text;
    	background-clip: text;
}

.blue:hover, .red:hover, .rainbow:hover {
	color: black;
}

.happy {
	cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/happy.png"), auto;
	text-decoration: blink;
}

/* Theorem */
.theorem {
  counter-increment: theorem;
  display: block;
  margin: 12px 0;
  font-style: italic;
}
.theorem::before {
  content: 'Theorem ' counter(theorem) '. ';
  font-weight: bold;
  font-style: normal;
}

/* Lemma */
.lemma {
  counter-increment: theorem;
  display: block;
  margin: 12px 0;
  font-style: italic;
}
.lemma::before {
  content: 'Lemma ' counter(theorem) '. ';
  font-weight: bold;
  font-style: normal;
}

/* Proof */
.proof {
  display: block;
  margin: 12px 0;
  font-style: normal;
  position: relative;
}
.proof::before {
  content: 'Proof. ' attr(title);
  font-style: italic;
}
.proof:after {
  content: '◾️';
  position: absolute;
  right: -12px;
  bottom: -2px;
}

/* Definition */
.definition {
  counter-increment: definition;
  display: block;
  margin: 12px 0;
  font-style: normal;
}
.definition::before {
  content: 'Definition ' counter(definition) '. ';
  font-weight: bold;
  font-style: normal;
}

.circle-sketch-highlight{
  position:relative;
}

.circle-sketch-highlight:before{
  content:"";
  z-index:-1;
  left:-0.5em;
  top:-0.1em;
  border-width:2px;
  border-style:solid;
  border-color:red;
  position:absolute;
  border-right-color:transparent;
  width:100%;
  height:1em;
  transform:rotate(2deg);
  opacity:0.7;
  border-radius:50%;
  padding:0.1em 0.25em;
}

.circle-sketch-highlight:after{
  content:"";
  z-index:-1;
  left:-0.5em;
  top:0.1em;
  padding:0.1em 0.25em;
  border-width:2px;
  border-style:solid;
  border-color:red;
  border-left-color:transparent;
  border-top-color:transparent;
  position:absolute;
  width:100%;
  height:1em;
  transform:rotate(-1deg);
  opacity:0.7;
  border-radius:50%;
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */ text-align: center;
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

.glow {
	animation: glow-blue 2s ease-in-out infinite;
	color: #4db1bc;
}

.gif {
	background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
  	background-size: cover;
 	color: transparent;
  	-moz-background-clip: text;
  	-webkit-background-clip: text;
  }


.showup { animation: showup 7s infinite;}

.reveal { animation: reveal 7s infinite;}

.slidein{ animation: slidein 7s infinite;}

.shine { animation: shine 2s forwards;}

.blink{ animation: blink 3s 2s infinite;}

.frozen {
	background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/6963bbf342d87b3a2150bd8f59682b89.jpg);
    	-webkit-background-clip: text;
  	background-size: contain;
  	width: 100%;
	color: transparent;
	animation: frozen-shine 1s infinite;
}

.neon-green {
	color: #fff;
  	text-shadow:
      	0 0 7px #fff,
      	0 0 10px #fff,
      	0 0 21px #fff,
      	0 0 42px #0fa,
      	0 0 82px #0fa,
      	0 0 92px #0fa,
      	0 0 102px #0fa,
      	0 0 151px #0fa;
	animation: flicker 1.5s infinite alternate;
}

.neon-pink { 
	color: #fff;
	text-shadow:
      	0 0 7px #fff,
      	0 0 10px #fff,
      	0 0 21px #fff,
      	0 0 42px #f09,
      	0 0 82px #f09,
      	0 0 92px #f09,
      	0 0 102px #f09,
      	0 0 151px #f09;
	animation: pulsate 0.11s ease-in-out infinite alternate;}

@keyframes pulsate {
  100% {
    /* Larger blur radius */
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #f09,
      0 0 80px #f09,
      0 0 90px #f09,
      0 0 100px #f09,
      0 0 150px #f09;
  }
 0% {
    /* A slightly smaller blur radius */
    text-shadow:
      0 0 4px #fff,
      0 0 10px #fff,
      0 0 18px #fff,
      0 0 38px #f09,
      0 0 73px #f09,
      0 0 80px #f09,
      0 0 94px #f09,
      0 0 140px #f09;
  }
}

@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #0fa,
      0 0 80px #0fa,
      0 0 90px #0fa,
      0 0 100px #0fa,
      0 0 150px #0fa;
  }
  20%, 24%, 55% {       
    text-shadow: none;
  }
}

@keyframes frozen-shine {
  0% {background-position: -100%;}
  100% {background-position: 100%;}
}

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
  28%,
  33% {
    color: #ff65bd;
    text-shadow: none;
  }
  82%,
  97% {
    color: #ff2483;
    text-shadow: none;
  }
}

@keyframes shine {
  0% {
    color: #6b1839;
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:355px;}
    80% {opacity:1;}
    100% {opacity:0;width:355px;}
}

@keyframes glow-blue {
	from {
      	text-shadow: 0 0 20px #2d9da9;
   	 }
    	to {
      	text-shadow: 0 0 30px #34b3c1, 0 0 10px #4dbbc7;
    	}
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

/*h1, h2 {
    text-align: center;
}*/

/*h2 {
  text-align: center;     
}
h2:before, h2:after {
  font-family: "Some cool font with glyphs", serif;
  content: "⭐"; 
  color: #c83f3f;
}
h2:before {
  margin-right: 10px;
}
h2:after {
  margin-left: 10px;
}*/




